.Container {
	display: flex;
	flex-direction: column;
	align-items: center;

	a {
		margin-bottom: 164px;
	}
}

.PageNF {
	height: 66vw;
	width: 100%;
	margin-top: 56px;
	background: url(../../assets/images/2704133.jpg);
	background-size: contain;
	background-repeat: no-repeat;
}
