$main-violet: #27005a;

.Footer {
	margin-top: 80px;
	padding: 20px;
	text-align: center;
	color: white;
	background-color: $main-violet;

	a {
		color: white;
		text-decoration: none;

		&:hover {
			color: red;
		}
	}
}

.Copyrights {
	color: #777777;
	padding-top: 1rem;
}
