$main-violet: #27005a;

.Footer {
	padding: 15px 0px;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	overflow: hidden;
	text-align: center;
	color: white;
	background-color: $main-violet;

	a {
		color: white;
		text-decoration: none;

		&:hover {
			color: red;
		}
	}
}

.Copyrights {
	color: #777777;
	padding-top: 1rem;
}
