$main-violet: rgb(39, 0, 90);

.Footer {
	margin-top: 80px;
	padding: 20px;
	text-align: center;
	color: white;
	background-color: $main-violet;
}

.Copyrights {
	color: #888888;
	padding-top: 1rem;
}
