.NavigationItems {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-flow: column;
	align-items: center;
	height: 100%;
}

.NavLink {
	padding: 5px;
	color: #222222;
	text-decoration: none;
	text-align: center;
}

@media (min-width: 500px) {
	.NavigationItems {
		flex-flow: row;

		.NavLink {
			color: white;
			border-left: 1px solid white;
		}
	}
}
